<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decision Tree Prediction</title>
</head>
<body>
    
    <h2>
        Iris Flower Prediction
    </h2>

    <form action="/predict" method="post">
        <label>Sepal Length</label>
        <input type="text" name="sepal_length"required>
        <br><br>

        <label>Sepal Width:</label>
        <input type="text" name="sepal_width" required>
        <br><br>

        <label>Petal Length:</label>
        <input type="text" name="petal_length" required>
        <br><br>

        <label>Petal Width</label>
        <input type="text" name="petal_width" required>
        <br><br>

        <button type="submit">Predict</button>
    </form>

    <h3>
        {{prediction_text}}
    </h3>

</body>
</html>